@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap');

@import "variables";

$darkgrey: map-get( $colorsMap, darkgrey);
$bluegray: map-get( $colorsMap, bluegray);
$page-white: map-get( $colorsMap, page-white);
$black: map-get( $colorsMap, black);
$indigo: map-get( $colorsMap, indigo);



//backgrounds
@each $colorName, $colorVal in $colorsMap {
  #{'.bg-' + $colorName } {
    background-color: $colorVal;
  }
}

//   text-colors  //
.text-white{
  color: $page-white;
}

.text-darkgrey{
  color: $darkgrey;
}

//   text-alignment  //
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
}

h3{
  font-size: 1.5rem;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.8;
  min-width: 320px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%list-reset{
  list-style: none;
  padding: 0;
  margin: 0;
}


.show-md{
  display: none;

  @media screen and ( max-width: $breakpoint-md){
    display: inline-block;
  }
}

.hide-md{
  display: inline-block;

  @media screen and ( max-width: $breakpoint-md){
    display: none !important;
  }
}

.break-line{
  display: block;
}

section, p {
   margin:0;
}

.resp-wrapper {
  margin: 0 auto;
}




//buttons

.page-button{
  display: inline-block;
  padding: 20px;
  text-decoration: none;

  &--black{
    background-color: $black;
    color: $page-white;
  }

  &--outline{
    border: 1px solid red;
  }
}

.block-button{
  display: block;
}

.page-section{
  padding: 5rem 0;
}

.layout-2-1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.grid-cell{
  display: block;
  width: 45%;
  height: 100%;
  align-self: stretch;
  flex-grow: 1;

  &--img-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &--img{
    object-fit: cover; 
  }

  &--desc{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
    @media screen and (max-width: $breakpoint-md) {
      padding: 0 2rem;
    }

    button{
      margin-top: auto;
      align-self: flex-start;
    }
  }
}

.lead-cell{
  border-color: red;

  @media screen and (min-width: 769px){
    order: -1;
    margin-right: 27px;
  }
  
}

@media screen and (max-width: 768px){
  .grid-cell{
    width: 100%;
  }
  .grid-cell:first-of-type{
    margin: 0 0 1em 0;
  }
}

.layout-4-2-1,
.layout-3-2-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .resp-wrapper{
    padding: 0 18px;
  }

  .layout-3-2-1{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .resp-wrapper{
    padding: 0 20px;
  }

  .layout-3-2-1{
    grid-template-columns: repeat(2, 1fr);
  }

  .layout-4-2-1{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .resp-wrapper{
    padding: 0 24px;
  }

  .layout-3-2-1{
    grid-template-columns: 1fr 1fr;
  }

  .layout-4-2-1{
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width: 993px) and (max-width: 1260px) {
  .resp-wrapper{
    padding: 0 30px;
  }

  .layout-3-2-1{
    grid-template-columns: repeat(3, 1fr);
  }

  .layout-4-2-1{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1261px) {
  .resp-wrapper{
    max-width: 1200px;
  }

  .layout-3-2-1{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .layout-4-2-1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


//margins
.m-t-1{
  margin-top: 1em;
}
.m-t-2{
  margin-top: 2em;
}
.m-t-3{
  margin-top: 3em;
}

.p-b-0{
  padding-bottom: 0;
}

.p-b-1{
  padding-bottom: 1rem;
}
.p-b-2{
  padding-bottom: 2rem;
}
.p-b-3{
  padding-bottom: 3rem;
}
.p-b-4{
  padding-bottom: 4rem;
}

.social-block{
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin-right: 1em;
  }

  a:last-child {
    margin-right: 0;
  }
}
//main-nav
.main-nav-outer{
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  transition: all 0.3s;

  &--sticky{
    background-color: rgba(0, 2, 3, 0.8);
    position: fixed;
    transform: translateY(0);
    z-index: 999;
  }
}

.main-nav{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-links{
  display: flex;
  @extend %list-reset;
}

.nav-list-item:not(:last-child){
  margin-right: 2rem;
}

.nav-link{
  text-decoration: none;
  color: $page-white;

  &:hover{
    opacity: 0.7;
  }
}

.navbar-logo{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  border: 1px solid red;
}


/* Full height image header */
.main-header{
  padding: 200px 0 50px 0;
  background: $indigo url("../img/header-bg-main.jpg") center no-repeat;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  
}
.main-heading{
  font-weight: 200;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;

  @media screen and (max-width: 576px) {
    font-size: 1.3em;
  }
}

.sub-heading{
  font-weight: 700;
  margin: 2em 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

  &__part{
    display: inline-flex;
    text-align: left;
    margin: 5px 0;
  }

  &__divider{
    content:"";
    display: inline-flex;
    width: 1px;
    min-height: 30px;
    background-color: #fff;
    margin: 0 1em; 
  }
}

.logo-descriptor{
  font-weight: 200;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1em;
  margin-bottom: 3em;

  @media screen and (max-width: $breakpoint-md){
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 10px;
    margin-bottom: 1em;
    padding: 0 70px;
  }
}

//стили секшнов

.section-heading{
  text-align: center;
  margin: 0 0 2em 0;
  position: relative;
  font-size: 2em;

  @media screen and (max-width: 576px) {
    font-size: 1.4em;
  }
}

.section-heading span{
  position : relative;
  background-color: map-get( $colorsMap, darkgrey );
  padding: 5px 15px 5px 11px ;
}

.section-heading span::before,
.section-heading span::after{
  position: absolute;
  content: "";
  display: block;
  background-color:  map-get( $colorsMap, darkgrey );
  top: 0;
  transform: skewX(-17deg);
  height: 100%;
}

.section-heading span::before{
  width: 20px;
  left: -12px;
}

.section-heading span::after{
  right: -8px;
  width: 15px;
}

.section-description{
  text-align: center;
  margin: 0 0 3rem 0;
  font-size: 1.4rem;
}


.subsection{
  padding: 3rem 0 3rem 0;

  &__title{
    margin: 0 0 2rem 0;
    font-size: 1.6rem;
  }

  &__descr{ 
    color: red;
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 6rem 0 6rem 0;
  }
}


// Преимущества стили

.advantages{
  @extend %list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.advantage{
  background:  map-get( $colorsMap, page-white ) url('../img/bg-abstr-01.svg') center top -250px no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px -2px  map-get( $colorsMap, darkgrey );;
  border-radius: 8px;
  padding: 3em 1em 2em 1em;
  color:  map-get( $colorsMap, darkgrey );

  &__icon{
    color: map-get( $colorsMap, page-white );
    text-align: center;
  }
  
  &__header{
    text-align: center;
    margin-top: 100px;
    font-size: 1.2em;

  }

  &__description{
    color: red;
    padding-left: 1rem;
  }
}
//продукты стили

// команда стили
.swiper-container {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

.swiper-slide {
  text-align: center;
}

.team-card{
  padding: 20px 20px 30px 20px;

  @media screen and (max-width: 640px) {
    padding: 0 0 30px 0;
  }

  img{
    width: 100%;
  }

  .person-name{
    color: $darkgrey;
  }

  .person-profession{
    font-weight: 700;
    color: $darkgrey;
  }

  .person-about{
    color: red;
  }
}




//Статистика

.statistic-cell{
  color: map-get( $colorsMap, darkgrey);
  text-align: center;
  box-shadow: 0 0 0 1px map-get( $colorsMap, darkgrey);
  padding: 0 0 2em 0;
  transition: all 0.4s;

  .stat-count{
    font-size: 5rem;
    font-weight: 700; 
    
    color: lighten( $darkgrey, 20%);
    span{
      font-weight: 200;
      color: lighten($darkgrey, 30%);
    }
  }
  .stat-meaning{
    text-transform: uppercase;
    padding: 0 1em;
  }

  &:hover{
    box-shadow: 0 0 0 8px $bluegray;
  }

  &:hover span{
    display: inline-block;
    transform:  rotateZ(180deg);
    transition: all 0.4s;
  }
}

// Галерея
.gallery-section{
  background-color: $page-white;
}

.gallery-sorter{
  @extend %list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  li:not(:last-child){
    margin-right: 20px;
  }
}

.sorter-category{
  display: block;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  color: $bluegray;
  transition: all 0.25s;
  transition-timing-function: ease-in-out;

  &:hover{
    box-shadow: 0 2px 0 0 $bluegray;
  }
  
}

.gallery-grid{
  @extend %list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.gallery-card{
  background-color: $darkgrey;
  box-shadow: 0 2px 12px -2px lighten($darkgrey, 33%);
  position: relative;
  overflow: hidden;
}

.gallery-card::after{
  box-sizing: border-box;
  display: block;
  content: attr(data-descr);
  position: absolute;
  width: 100%;
  min-height: 30%;
  padding: 40px;
  background-color: rgba(255,255,255,0.78);
  bottom: 0;
  text-align: center;
  // transform: translateY(-40%);
  // transition: all 0.5s;
  // font-size: 1em;
}
// .gall-thumb:hover::after{
//   opacity: 1;
//   transform: translateY(0);
// }

.gallery-link{
  display: block;
  width: 100%;
  
  text-decoration: none;


  img{
    width:100%;
    display: block;
    object-fit: scale-down;
  }
}

//clients
.clients{
  padding: 64px 0 200px 0;
  background-color: $page-white;
}

.client-logo{ 
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    width: 80%;
    height: auto;
  }
}

//Contacts
.contacts-list{
  @extend %list-reset;

  &__item{
    margin: 2em 0;
  }
}

.contacts-heading{
  margin: 5rem 0 2rem 0;
  padding: 0;
  text-align: center;
  font-size: 1.4rem;
}

.send-message{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // background-color: $bluegray;
  margin: 0;

  .full{ 
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0 0 40px 0;
    flex-grow: 1;
  }

  .half{ 
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 0 0 40px 0;
    flex-grow: 1;

    @media screen and (max-width: $breakpoint-md){
      flex-basis: 100%;
    }
  }

  .half:first-child{
    margin-right: 2rem;

    @media screen and (max-width: $breakpoint-md){
      margin-right: 0;
    }
  }

  .form-label{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  input, textarea {
    flex-basis: 100%;
    font-size: 1.2rem;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.5em;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0 1px inset $page-white;
  }
 
  input[type="text"]{
    // background-color: green;
  }
}

//page-footer

.page-footer{
  padding: 2em 0 0 2em;
}