@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages, .gallery-grid, .contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.break-line {
  display: block;
}

.m-t-1 {
  margin-top: 1em;
}

.m-t-2 {
  margin-top: 2em;
}

.m-t-3 {
  margin-top: 3em;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-block a {
  margin-right: 1em;
}

.social-block a:last-child {
  margin-right: 0;
}

/* Full height image header */
.main-header {
  padding: 200px 0 50px 0;
  background-position: center;
  background-size: cover;
  background-image: url("../img/header-bg-main.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.navbar-logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.main-heading {
  font-weight: 200;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;
}

@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 1.5em;
  }
}

.sub-heading {
  font-weight: 700;
  margin: 2em 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-heading__part {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: left;
  margin: 5px 0;
}

.sub-heading__divider {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1px;
  min-height: 30px;
  background-color: #fff;
  margin: 0 1em;
}

.logo-descriptor {
  font-weight: 200;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1em;
  margin-bottom: 1em;
}

.logo-descriptor-mob {
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 10px;
  margin-bottom: 1em;
}

.section-heading {
  margin-bottom: 2em;
  position: relative;
  font-size: 2em;
}

@media screen and (max-width: 576px) {
  .section-heading {
    font-size: 1.4em;
  }
}

.section-heading span {
  position: relative;
  background-color: #222226;
  padding: 5px 15px 5px 11px;
}

.section-heading span::before,
.section-heading span::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #222226;
  top: 0;
  -webkit-transform: skewX(-17deg);
          transform: skewX(-17deg);
  height: 100%;
}

.section-heading span::before {
  width: 20px;
  left: -12px;
}

.section-heading span::after {
  right: -8px;
  width: 15px;
}

.advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 992px) {
  .advantages {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .advantages {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.advantage {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px -2px #71717f;
          box-shadow: 0 2px 12px -2px #71717f;
  border-radius: 8px;
  padding: 0 16px;
}

.swiper-slide {
  height: 300px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.team-card {
  min-height: 300px;
  background-color: #ffffff;
}

.team-card .person-info {
  padding: 20px;
}

.team-card .person-name {
  color: red;
  text-align: center;
}

.team-card .person-profession {
  text-align: center;
}

.team-card .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-card button {
  margin-top: auto;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 992px) {
  .gallery-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .gallery-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.gallery-card {
  background-color: #222226;
  -webkit-box-shadow: 0 2px 12px -2px #71717f;
          box-shadow: 0 2px 12px -2px #71717f;
  border-radius: 8px;
}

.gall-thumb {
  overflow: hidden;
  position: relative;
}

.gall-thumb img {
  width: 100%;
  height: auto;
}

.gall-thumb::before {
  content: attr(data-descr);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.78);
  left: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1em;
}

.gall-thumb:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.clients {
  padding: 64px 0 200px 0;
  background-color: #ffffff;
}

.client-logo {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-logo img {
  width: 80%;
  height: auto;
}

.contacts-list__item {
  margin: 2em 0;
}
/*# sourceMappingURL=style.css.map */