@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap');

// Color variables
$dark-grey: #222226;

body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/header-bg-main.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
.navbar-logo{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.main-heading{
  font-weight: 200;
  line-height: 1.1em;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;
}

.logo-descriptor{
  font-weight: 200;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1em;
  margin-bottom: 1em;
}
.logo-descriptor-mob{
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 10px;
  margin-bottom: 1em;
}
.social-block{
  margin-top: 1em;
}

.section-heading{
  margin-bottom: 2em;
  position: relative;
}

.section-heading span{
  position : relative;
  background-color: $dark-grey;
  padding: 5px 15px 5px 11px ;
}

.section-heading span::before{
  position: absolute;
  content: "";
  display: block;
  left: -12px;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: $dark-grey;
  transform: skewX(-17deg);
}
.section-heading span::after{
  position: absolute;
  content: "";
  display: block;
  right: -8px;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: $dark-grey;
  transform: skewX(-17deg);
}

.gall-thumb{
  overflow: hidden;
  position: relative;
}

.gall-thumb img{
  width: 100%;
  height: auto;
}

.gall-thumb::before{
  content: attr(data-descr);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.78);
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-40%);
  transition: all 0.5s;
  font-size: 1em;
}
.gall-thumb:hover::before{
  opacity: 1;
  transform: translateY(0);
}