@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap");
.bg-blue {
  background-color: #007bff;
}

.bg-indigo {
  background-color: #6610f2;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-pink {
  background-color: #e83e8c;
}

.bg-red {
  background-color: #dc3545;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-green {
  background-color: #28a745;
}

.bg-teal {
  background-color: #20c997;
}

.bg-cyan {
  background-color: #17a2b8;
}

.bg-page-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #6c757d;
}

.bg-darkgrey {
  background-color: #343a40;
}

.bg-primary {
  background-color: #007bff;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-success {
  background-color: #28a745;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-bluegray {
  background-color: #607d8b;
}

.bg-black {
  background-color: #000000;
}

.page-button {
  text-transform: uppercase;
  padding: 1rem;
  color: #fff;
  background-color: #343a40;
}

.page-button--inline {
  display: inline-block;
}

.social-block, .nav-links, .advantages, .gallery-sorter, .gallery-grid, .contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-white {
  color: #fff;
}

.text-darkgrey {
  color: #343a40;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
}

h3 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  min-width: 320px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.show-md {
  display: none;
}

@media screen and (max-width: 768px) {
  .show-md {
    display: inline-block;
  }
}

.hide-md {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .hide-md {
    display: none !important;
  }
}

.break-line {
  display: block;
}

section, p {
  margin: 0;
}

.resp-wrapper {
  margin: 0 auto;
}

.page-button {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.page-button--black {
  background-color: #000000;
  color: #fff;
}

.page-button--outline {
  border: 1px solid red;
}

.block-button {
  display: block;
}

.page-section {
  padding: 5rem 0;
}

.layout-2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-cell {
  display: block;
  width: 45%;
  height: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-cell--img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.grid-cell--img {
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-cell--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3rem;
}

@media screen and (max-width: 768px) {
  .grid-cell--desc {
    padding: 0 2rem;
  }
}

.grid-cell--desc button {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.lead-cell {
  border-color: red;
}

@media screen and (min-width: 769px) {
  .lead-cell {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 27px;
  }
}

@media screen and (max-width: 768px) {
  .grid-cell {
    width: 100%;
  }
  .grid-cell:first-of-type {
    margin: 0 0 1em 0;
  }
}

.layout-4-2-1,
.layout-3-2-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .resp-wrapper {
    padding: 0 18px;
  }
  .layout-3-2-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .resp-wrapper {
    padding: 0 20px;
  }
  .layout-3-2-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .layout-4-2-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .resp-wrapper {
    padding: 0 24px;
  }
  .layout-3-2-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .layout-4-2-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  .resp-wrapper {
    padding: 0 30px;
  }
  .layout-3-2-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .layout-4-2-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1261px) {
  .resp-wrapper {
    max-width: 1200px;
  }
  .layout-3-2-1 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .layout-4-2-1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.m-t-1 {
  margin-top: 1em;
}

.m-t-2 {
  margin-top: 2em;
}

.m-t-3 {
  margin-top: 3em;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}

.p-b-3 {
  padding-bottom: 3rem;
}

.p-b-4 {
  padding-bottom: 4rem;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem auto;
}

.social-block a {
  display: block;
  margin-right: 3rem;
  color: inherit;
  text-decoration: none;
}

.social-block a:hover {
  opacity: 0.6;
}

.social-block a:last-child {
  margin-right: 0;
}

.main-nav-outer {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav-outer--sticky {
  background-color: rgba(0, 2, 3, 0.8);
  position: fixed;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 999;
}

.main-nav {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  opacity: 0.7;
}

.navbar-logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  border: 1px solid red;
}

/* Full height image header */
.main-header {
  padding: 200px 0 50px 0;
  background: #6610f2 url("../img/header-bg-main.jpg") center no-repeat;
  background-size: cover;
  min-height: 100%;
  text-align: center;
}

.main-heading {
  font-weight: 200;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;
}

@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 1.3em;
  }
}

.sub-heading {
  font-weight: 700;
  margin: 2em 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-heading__part {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: left;
  margin: 5px 0;
}

.sub-heading__divider {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1px;
  min-height: 30px;
  background-color: #fff;
  margin: 0 1em;
}

.logo-descriptor {
  font-weight: 200;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1em;
  margin-bottom: 3em;
}

@media screen and (max-width: 768px) {
  .logo-descriptor {
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 10px;
    margin-bottom: 1em;
    padding: 0 70px;
  }
}

.section-heading {
  text-align: center;
  margin: 0 0 2em 0;
  position: relative;
  font-size: 2em;
}

@media screen and (max-width: 576px) {
  .section-heading {
    font-size: 1.4em;
  }
}

.section-heading span {
  position: relative;
  background-color: #343a40;
  padding: 5px 15px 5px 11px;
}

.section-heading span::before,
.section-heading span::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #343a40;
  top: 0;
  -webkit-transform: skewX(-17deg);
          transform: skewX(-17deg);
  height: 100%;
}

.section-heading span::before {
  width: 20px;
  left: -12px;
}

.section-heading span::after {
  right: -8px;
  width: 15px;
}

.section-description {
  text-align: center;
  margin: 0 0 3rem 0;
  font-size: 1.4rem;
}

.subsection {
  padding: 3rem 0 3rem 0;
}

.subsection__title {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
}

.subsection__descr {
  color: red;
}

@media screen and (max-width: 768px) {
  .subsection {
    padding: 6rem 0 6rem 0;
  }
}

.advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 992px) {
  .advantages {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .advantages {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.advantage {
  background: #fff url("../img/bg-abstr-01.svg") center top -250px no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 2px 10px -2px #343a40;
          box-shadow: 0 2px 10px -2px #343a40;
  border-radius: 8px;
  padding: 3em 1em 2em 1em;
  color: #343a40;
}

.advantage__icon {
  color: #fff;
  text-align: center;
}

.advantage__header {
  text-align: center;
  margin-top: 100px;
  font-size: 1.2em;
}

.advantage__description {
  color: red;
  padding-left: 1rem;
}

.swiper-container {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

.swiper-slide {
  text-align: center;
}

.team-card {
  padding: 20px 20px 30px 20px;
}

@media screen and (max-width: 640px) {
  .team-card {
    padding: 0 0 30px 0;
  }
}

.team-card img {
  width: 100%;
}

.team-card .person-name {
  color: #343a40;
}

.team-card .person-profession {
  font-weight: 700;
  color: #343a40;
}

.team-card .person-about {
  color: red;
}

.statistic-cell {
  color: #343a40;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px #343a40;
          box-shadow: 0 0 0 1px #343a40;
  padding: 0 0 2em 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.statistic-cell .stat-count {
  font-size: 5rem;
  font-weight: 700;
  color: #626d78;
}

.statistic-cell .stat-count span {
  font-weight: 200;
  color: #7a8793;
}

.statistic-cell .stat-meaning {
  text-transform: uppercase;
  padding: 0 1em;
}

.statistic-cell:hover {
  -webkit-box-shadow: 0 0 0 8px #607d8b;
          box-shadow: 0 0 0 8px #607d8b;
}

.statistic-cell:hover span {
  display: inline-block;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.gallery-section {
  background-color: #fff;
}

.gallery-sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.gallery-sorter li:not(:last-child) {
  margin-right: 20px;
}

.sorter-category {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  color: #607d8b;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.sorter-category:hover {
  -webkit-box-shadow: 0 2px 0 0 #607d8b;
          box-shadow: 0 2px 0 0 #607d8b;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .gallery-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .gallery-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.gallery-card {
  background-color: #343a40;
  -webkit-box-shadow: 0 2px 12px -2px #828e9a;
          box-shadow: 0 2px 12px -2px #828e9a;
  position: relative;
  overflow: hidden;
}

.gallery-card::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  content: attr(data-descr);
  position: absolute;
  width: 100%;
  min-height: 30%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.78);
  bottom: 0;
  text-align: center;
}

.gallery-link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.gallery-link img {
  width: 100%;
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.clients {
  padding: 64px 0 200px 0;
  background-color: #fff;
}

.client-logo {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-logo img {
  width: 80%;
  height: auto;
}

.contacts-list__item {
  margin: 2em 0;
}

.contacts-heading {
  margin: 5rem 0 2rem 0;
  padding: 0;
  text-align: center;
  font-size: 1.4rem;
}

.send-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.send-message .full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 0 0 40px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.send-message .half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 0 0 40px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .send-message .half {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.send-message .half:first-child {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .send-message .half:first-child {
    margin-right: 0;
  }
}

.send-message .form-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.send-message input, .send-message textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.2rem;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5em;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 1px inset #fff;
          box-shadow: 0 0 0 1px inset #fff;
}

.page-footer {
  padding: 2em 0 6em 0;
}
/*# sourceMappingURL=style.css.map */